@model WebApplication1.Areas.Admin.Models.student

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/template.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name_Student)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_Student)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_method)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Danhsachsv")
</p>
